.SearchBarContainer {
    margin: auto;
    margin: 20px;
}

.SearchTextField{
    width: 70%;
    max-width: 600px;
}

.SearchButton{
    width: 100px;
    height: 55px;
}
@media (max-width: 372px) {
    .SearchButton{
        width: 290px;
        height: 55px;
    }
    .SearchTextField{
        width: 290px;
    }
}